/**
Style sheet for index.html

*/

/* GLOBAL
---------------*/
body {
    background: #FF8C00; /*#33cc33;*/
    font-family: sans-serif;
}
body fieldset {
    box-shadow: 0 8px 10px #29a329;
}

body.error {
    background: #f04000;
}
body.error fieldset {
    box-shadow: 0 8px 10px #bd3200;
}

/* MAIN TITLE
 -------------------*/
h1, h2 {
    /*Center */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    letter-spacing: 2px;
}

h1 {
    top: 24px;
    text-transform: uppercase;
    color: white;
    font-size: 32px;
}

h2 {
    top: 60px;
    color: white;
    font-size: 24px;
    opacity: 0.7;
    font-family: 'La Belle Aurore', cursive;
}

/* IMG CENTERED (just after the titles)
--------------------------------------
 */
.center_img {
    /* centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* just after the h2 title */
    top: 90px;

    /* size*/
    width: 30px;
    height: 30px;
}


/* CHIPS CONFIGS
--------------------------------------
 */
.chip {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 25px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 5px 5px;
    display: inline-block;
    outline: none;
    height: 50px;
}

.chip:focus {
    background-color: #51c5c2;
    color: #fff;
}
.closebtn {
    cursor: pointer;
}
.chips.chips-initial input.chip-input {
    display: inline-block ;
    float: none;
    width: 120px;
    min-width: 30px;
    border:none;
    outline: none;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/*
FORM
----------------------
 */
.my-form {
    position: absolute;
    width: 700px;
    height: 600px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BUTTON
--------------*/
#chips {
    position: relative;
    top: 20px;
}

/* Put the button at 20px under the bar */
#button_ok {
    position: relative;
    top: 100px;

}

/*
FORM
----------------------
 */
.username {
    /*text-align:center;*/
    position: relative;
    left: 200px;
    /*position: absolute;*/
    width: 300px;
    height: 60px;
    background: white;
    border-radius: 3px;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.4s ease-in-out;
}

.username input, .username p {
    display: inline-block;
    width: 250px;
    margin-left: 50px;
    color: #333333;
    font-size: 16px;
    letter-spacing: 1px;
}

.username input {
    height: 40px;
    margin-top: 8px;
    border: none;
    outline: none;
}
.username .icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    transition: all 0.4s ease;
}
.username .icon i {
    position: absolute;
    display: block;
}
.username .icon i::before, .username .icon i::after {
    position: absolute;
    content: "";
}
.username .icon.left {
    left: 10px;
}

.username .icon.button:hover {
    background: #f2f2f2;
    border-radius: 3px;
    transition: all 0.4s ease;
}
.username.enable {
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease-out 0.2s;
    transform: scale(1);
    animation: enable 0.5s ease-out 0.2s;
}
.username.disable {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform: translateY(120px) scale(0.9);
}

body.error fieldset {
    transform-origin: 50% 100%;
    animation: error 0.3s ease-out;
}

@keyframes enable {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes error {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
}
/**
 * Icons in CSS, long as f****
 */
.icon .arrow {
    width: 2px;
    height: 17px;
    top: 5px;
    left: 14px;
    background: #333333;
}
.icon .arrow::before {
    width: 6px;
    height: 6px;
    bottom: -1px;
    left: -3px;
    border-color: #333333;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
}

.icon .user {
    width: 20px;
    height: 10px;
    bottom: 5px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 6px 6px 3px 3px;
}
.icon .user::before {
    width: 10px;
    height: 10px;
    top: -9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 50%;
}

.icon .letter {
    width: 20px;
    height: 12px;
    top: 9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 3px;
}
.icon .letter::before, .icon .letter::after {
    width: 11px;
    height: 2px;
    top: 4px;
    background: #333333;
}
.icon .letter::before {
    left: 0;
    transform: rotate(30deg);
}
.icon .letter::after {
    right: 0;
    transform: rotate(-30deg);
}

.icon .lock {
    width: 20px;
    height: 16px;
    top: 9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 3px;
}
.icon .lock::before {
    width: 8px;
    height: 8px;
    top: -4px;
    left: 4px;
    border: 2px solid transparent;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.icon .lock::after {
    width: 6px;
    height: 7px;
    top: 4px;
    left: 7px;
    box-shadow: 0 0 0 2px #333333 inset;
}

.icon .heart {
    width: 10px;
    height: 10px;
    top: 11px;
    left: 7px;
    background: #ff5233;
    transform: rotate(45deg);
}
.icon .heart::before, .icon .heart::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff5233;
}
.icon .heart::before {
    left: -6px;
}
.icon .heart::after {
    top: -6px;
}
